@import "_common";

header.hero {
    background-image: url(/assets/images/event-hero.jpg);
}

main {
    .tab-list {
        margin: 0;
        padding: 0;
        border-bottom: solid 1px #dddddd;
        list-style: none;
        text-align: center;

        .wrapper {
            display: flex;

            .tab-item {
                width: 50%;
                height: 68px;
                line-height: 68px;
                background-color: #fff;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    color: #000;
                    text-decoration: none;
                }

                &.active {
                    background-color: #d63b37;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .event-container {
        padding: 62px 0 160px;

        h1 {
            font-size: 32px;
            font-weight: 500;
            margin: 0 0 40px;
        }

        .card-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .card-item {
                border-radius: 16px;
                overflow: hidden;
                width: 380px;
                margin-top: 32px;
                text-decoration: none;
                color: #000;
                box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2);
                transition: transform 0.5s;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: 0;
                }

                &:hover {
                    transform: translateY(-5px);
                }

                img {
                    display: block;
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                }

                .card-content {
                    padding: 20px 16px;

                    h2 {
                        margin: 8px 0;
                        font-size: 20px;
                    }

                    p.desc {
                        margin: 0;
                        font-size: 12px;
                        color: #666;
                        word-wrap: break-word;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    p.date {
                        text-align: right;
                        color: #e02020;
                        margin: 18px 0 0;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

main.detail-container > .wrapper {
    padding: 60px 0 120px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }

    .title-container {
        border-bottom: solid 1px #ddd;
        padding-bottom: 28px;

        h1 {
            font-size: 32px;
            font-weight: 500;
            margin: 0 0 16px;
        }

        p.date {
            color: #e02020;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
    }

    .content {
        padding: 40px 0;

        p,
        img {
            margin: 0 0 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .navigator {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: solid 1px #ddd;
            padding: 12px;

            &:first-child {
                border-top: solid 1px #ddd;
            }

            &::before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                float: left;
                margin-right: 12px;
                background-size: contain;
                background-position: center;
            }

            &.up::before {
                background-image: url(/assets/images/ico-up.png);
            }
            &.down::before {
                background-image: url(/assets/images/ico-down.png);
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            p {
                float: left;
                margin: 0;
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;

                a {
                    color: #222;
                    text-decoration: none;
                }
            }
        }
    }

    .btn-list {
        cursor: pointer;
        float: right;
        color: #fff;
        font-size: 16px;
        margin-top: 24px;
        padding: 12px 44px;
        background-color: #d63b37;
        border: none;
        border-radius: 4px;
    }
}
