* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

#gnb {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#gnb .wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gnb .gnb-logo {
  display: block;
  height: 36px;
}

#gnb .gnb-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#gnb .gnb-menu-item {
  margin: 0 32px;
  position: relative;
}

#gnb .gnb-menu-item a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#gnb .gnb-menu-item.active a {
  color: #e02020 !important;
}

#gnb .gnb-menu-item:hover a {
  color: #e02020 !important;
}

#gnb .gnb-menu-item:hover .gnb-sub-menu-list {
  display: block;
}

#gnb .gnb-menu-item .gnb-sub-menu-list {
  display: none;
  margin: 0;
  width: 140px;
  padding: 8px 12px;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
}

#gnb .gnb-menu-item .gnb-sub-menu-list .gnb-sub-menu-item a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  line-height: 1;
  color: #000 !important;
}

#gnb .gnb-menu-item .gnb-sub-menu-list .gnb-sub-menu-item a:hover {
  color: #e02020 !important;
}

#gnb .gnb-btn {
  margin-left: auto;
}

#gnb .gnb-btn-item {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#gnb .gnb-btn-primary {
  background-color: #db3535;
  border-radius: 4px;
  margin-left: 32px;
  padding: 10px 18px;
  font-weight: bold;
}

#gnb.stuck, #gnb.white {
  background-color: #fff;
}

#gnb.stuck .gnb-menu-item a,
#gnb.stuck .gnb-btn-item, #gnb.white .gnb-menu-item a,
#gnb.white .gnb-btn-item {
  color: #000;
}

#gnb.stuck .gnb-btn-primary, #gnb.white .gnb-btn-primary {
  color: #fff;
}

header.hero {
  height: 520px;
  position: relative;
  background-size: cover;
  background-position: center;
}

header.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

#footer {
  background-color: #000;
  padding: 48px 0;
  color: #fff;
}

#footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .social-list .social-item {
  margin-left: 72px;
}

#footer .social-list .social-item:first-child {
  margin-left: 0;
}

#footer .menu-list {
  margin: 40px 0;
}

#footer .menu-list .menu-item {
  margin-left: 32px;
}

#footer .menu-list .menu-item:first-child {
  margin-left: 0;
}

#footer .menu-list .menu-item a {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

#footer .copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

main .hero-swiper {
  position: relative;
  overflow: hidden;
  height: 620px;
}

main .hero-swiper .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-swiper .slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .hero-swiper .slide-content {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
}

main .hero-swiper .slide-content h1 {
  font-size: 56px;
  margin: 0;
  text-align: left;
}

main .hero-swiper .slide-content p {
  font-size: 24px;
  margin: 12px 0 28px;
}

main .hero-swiper .slide-content button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: transparent;
  width: 176px;
  height: 48px;
  padding: 0;
  border: solid 1px #fff;
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

main .hero-swiper .swiper-pagination {
  bottom: 20px;
}

main .hero-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
  opacity: 1;
  background-color: #fff;
}

main .hero-swiper .swiper-pagination-bullet-active {
  background-color: #db3535;
}

main > section[class$="-container"] {
  padding-top: 120px;
  padding-bottom: 88px;
  overflow: hidden;
}

main > section[class$="-container"] h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 60px;
  text-align: center;
}

main > section[class$="-container"] .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > section[class$="-container"] .card-list .card-item {
  display: block;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2);
}

main > section[class$="-container"] .card-list .card-item:first-child {
  margin-left: 0;
}

main > section[class$="-container"] .card-list .card-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main > section[class$="-container"] .card-list .card-item .product-box-top {
  width: 100%;
  padding: 20px 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

main > section[class$="-container"] .card-list .card-item .product-box-heading {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 1.6;
  word-break: break-all;
  margin: 0;
}

main > section[class$="-container"] .card-list .card-item .product-box-bottom {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

main > section[class$="-container"] .card-list .card-item .product-box-bottom-inr {
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > section[class$="-container"] .card-list .card-item .product-box {
  display: contents;
}

main > section[class$="-container"] .card-list .card-item .product-box-text {
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  font-weight: 300;
  word-break: break-all;
  text-align: left;
}

main > section[class$="-container"] .card-list .card-item i.fas.fa-arrow-circle-right {
  color: white;
  text-align: right;
  font-size: 24px;
}

main > .story-container {
  background-color: #f3f3f3;
}

main > .story-container h1 {
  margin: 0;
}

main > .story-container h2 {
  font-size: 48px;
  text-align: center;
  margin: 24px 0 32px;
  color: #db3535;
}

main > .story-container .story-swiper {
  overflow: hidden;
}

main > .story-container .story-swiper .swiper-slide {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main > .story-container .story-swiper .swiper-slide img {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

main > .story-container .story-swiper .swiper-slide span {
  font-size: 180px;
  color: rgba(34, 34, 34, 0.6);
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  z-index: 0;
}

main > .story-container .story-swiper .swiper-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

main > .story-container .story-swiper .swiper-pagination-bullet {
  width: auto;
  height: auto;
  margin: 0 20px;
  background: none;
  opacity: 1;
}

main > .story-container .story-swiper .swiper-pagination-bullet img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16px;
}

main > .story-container .story-swiper .swiper-pagination-bullet p {
  font-size: 14px;
  margin: 12px 0 0;
}

main > .story-container .story-swiper .swiper-pagination-bullet-active img {
  border: solid 2px #dd4f4f;
}

main > .story-container .story-swiper .swiper-pagination-bullet-active p {
  font-weight: 500;
}

main .product-container {
  background-image: url(/assets/images/product-bg.jpg);
  background-size: cover;
  background-position: center;
}

main .product-container h1 {
  color: #fff;
}

main .product-container .card-list .card-item {
  margin-left: 16px;
}

main .product-container .card-list .card-item img {
  display: block;
  width: 100%;
}

main section.campaign-container {
  background-color: #f3f3f3;
}

main section.campaign-container .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.campaign-container .card-list .card-item {
  border-radius: 16px;
  width: 100%;
  text-decoration: none;
  color: #000;
  margin-left: 30px;
}

main section.campaign-container .card-list .card-item img {
  display: block;
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

main section.campaign-container .card-list .card-item .card-content {
  padding: 20px 16px;
}

main section.campaign-container .card-list .card-item .card-content h2 {
  margin: 8px 0;
  font-size: 20px;
}

main section.campaign-container .card-list .card-item .card-content p.desc {
  margin: 0;
  font-size: 12px;
  color: #666;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

main section.campaign-container .card-list .card-item .card-content p.date {
  text-align: right;
  color: #e02020;
  margin: 18px 0 0;
  font-size: 12px;
  font-weight: 500;
}

main section.event-container {
  background-image: url(/assets/images/product-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 128px;
}

main section.event-container::after {
  content: "";
  display: block;
  clear: both;
}

main section.event-container .carousel-swiper {
  margin-right: 80px;
  width: 50%;
  float: left;
}

main section.event-container .carousel-swiper .swiper-slide {
  width: 323px;
  opacity: 0;
}

main section.event-container .carousel-swiper .swiper-slide-prev, main section.event-container .carousel-swiper .swiper-slide-active, main section.event-container .carousel-swiper .swiper-slide-next {
  opacity: 1;
}

main section.event-container .carousel-swiper .swiper-slide img {
  display: block;
}

main section.event-container .carousel-swiper .swiper-button-next,
main section.event-container .carousel-swiper .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #fff;
}

main section.event-container .carousel-swiper .swiper-button-next::after,
main section.event-container .carousel-swiper .swiper-button-prev::after {
  font-size: 18px;
}

main section.event-container .carousel-swiper .swiper-button-next::after {
  margin-right: -4px;
}

main section.event-container .carousel-swiper .swiper-button-prev::after {
  margin-left: -4px;
}

main section.event-container .carousel-swiper .swiper-pagination {
  top: calc(100% + 28px);
}

main section.event-container .carousel-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
  opacity: 1;
  background-color: #bebebe;
}

main section.event-container .carousel-swiper .swiper-pagination-bullet-active {
  background-color: #db3535;
}

main section.event-container .event-content h2 {
  font-size: 48px;
  margin: 0;
}

main section.event-container .event-content h3 {
  font-size: 24px;
  margin: 8px 0 12px;
}

main section.event-container .event-content p {
  font-size: 14px;
}

main section.event-container .event-content button {
  color: #fff;
  background-color: #000;
  display: block;
  width: 175px;
  height: 48px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main section.event-container .event-content button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main section.youtube-container {
  background-color: #f3f3f3;
}

main section.youtube-container .carousel-swiper .swiper-slide {
  position: relative;
  width: 790px;
  height: 420px;
  opacity: 0;
}

main section.youtube-container .carousel-swiper .swiper-slide-prev, main section.youtube-container .carousel-swiper .swiper-slide-active, main section.youtube-container .carousel-swiper .swiper-slide-next {
  opacity: 1;
}

main section.youtube-container .carousel-swiper .swiper-slide img {
  display: block;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main section.youtube-container .carousel-swiper .swiper-slide iframe {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main section.youtube-container .carousel-swiper .swiper-slide-active:hover img {
  opacity: 0;
  z-index: 0;
}

main section.youtube-container .carousel-swiper .swiper-slide-active:hover iframe {
  opacity: 1;
  z-index: 1;
}

main section.youtube-container button {
  color: #fff;
  background-color: #000;
  display: block;
  margin: 0 auto;
  width: 175px;
  height: 48px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main section.youtube-container button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main section.coupon-container {
  background-image: url(/assets/images/coupon-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 443px;
}

main section.coupon-container h1 {
  color: #db3535;
  margin: 0;
}

main section.coupon-container h2 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin: 24px 0;
}

main section.coupon-container button {
  color: #fff;
  background-color: #db3535;
  display: block;
  margin: 0 auto;
  width: 175px;
  height: 48px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main section.coupon-container button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.loading {
  z-index: 999;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4000a;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.loading.hide {
  opacity: 0 !important;
  z-index: -1;
}

.loading svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: dash-loader 1.2s linear infinite;
          animation: dash-loader 1.2s linear infinite;
  fill: #fff;
  stroke-dasharray: 0 200;
  stroke-dashoffset: 100;
  stroke-width: 0.05rem;
  stroke: #fff;
}

.banner-btn {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.banner-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes dash-loader {
  0% {
    fill: transparent;
  }
  50%,
  60% {
    fill: transparent;
    stroke-dasharray: 523 200;
  }
  to {
    stroke: transparent;
    stroke-dasharray: 523 200;
  }
}

@keyframes dash-loader {
  0% {
    fill: transparent;
  }
  50%,
  60% {
    fill: transparent;
    stroke-dasharray: 523 200;
  }
  to {
    stroke: transparent;
    stroke-dasharray: 523 200;
  }
}
/*# sourceMappingURL=index.css.map */