@import "_common";

main {
    width: 360px;
    margin: 0 auto;
    padding: 144px 0 400px;

    .logo {
        display: block;
        height: 64px;
        margin: 0 auto;
    }

    .input-container {
        margin: 24px 0 0;

        label {
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            margin: 0 0 8px;
        }

        input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: solid 1px #e4e4e4;
            border-radius: 2px;
            margin-bottom: 20px;
            padding: 16px 14px;
            font-size: 12px;
            line-height: 1;

            &:last-child {
                margin-bottom: 0;
            }

            &::placeholder {
                color: #d1d5d9;
            }
        }
    }

    .link-container {
        width: 100%;
        margin: 12px 0 32px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        a {
            font-size: 14px;
            color: #000;
            text-decoration: none;

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }
    }

    .button-container {
        button {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 52px;
            margin-bottom: 8px;
            padding: 0;
            border: none;
            border-radius: 4px;
            text-align: center;
            font-size: 16px;
            line-height: 1;

            &:last-child {
                margin-bottom: 0;
            }

            &.btn-login {
                background-color: #d1d5d9;
                color: #fff;
                line-height: 52px;

                &.active {
                    background-color: #e02020;
                }
            }

            &.btn-apple,
            &.btn-kakao {
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
