* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

#gnb {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#gnb .wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gnb .gnb-logo {
  display: block;
  height: 36px;
}

#gnb .gnb-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#gnb .gnb-menu-item {
  margin: 0 32px;
  position: relative;
}

#gnb .gnb-menu-item a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#gnb .gnb-menu-item.active a {
  color: #e02020 !important;
}

#gnb .gnb-menu-item:hover a {
  color: #e02020 !important;
}

#gnb .gnb-menu-item:hover .gnb-sub-menu-list {
  display: block;
}

#gnb .gnb-menu-item .gnb-sub-menu-list {
  display: none;
  margin: 0;
  width: 140px;
  padding: 8px 12px;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
}

#gnb .gnb-menu-item .gnb-sub-menu-list .gnb-sub-menu-item a {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  line-height: 1;
  color: #000 !important;
}

#gnb .gnb-menu-item .gnb-sub-menu-list .gnb-sub-menu-item a:hover {
  color: #e02020 !important;
}

#gnb .gnb-btn {
  margin-left: auto;
}

#gnb .gnb-btn-item {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#gnb .gnb-btn-primary {
  background-color: #db3535;
  border-radius: 4px;
  margin-left: 32px;
  padding: 10px 18px;
  font-weight: bold;
}

#gnb.stuck, #gnb.white {
  background-color: #fff;
}

#gnb.stuck .gnb-menu-item a,
#gnb.stuck .gnb-btn-item, #gnb.white .gnb-menu-item a,
#gnb.white .gnb-btn-item {
  color: #000;
}

#gnb.stuck .gnb-btn-primary, #gnb.white .gnb-btn-primary {
  color: #fff;
}

header.hero {
  height: 520px;
  position: relative;
  background-size: cover;
  background-position: center;
}

header.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

#footer {
  background-color: #000;
  padding: 48px 0;
  color: #fff;
}

#footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .social-list .social-item {
  margin-left: 72px;
}

#footer .social-list .social-item:first-child {
  margin-left: 0;
}

#footer .menu-list {
  margin: 40px 0;
}

#footer .menu-list .menu-item {
  margin-left: 32px;
}

#footer .menu-list .menu-item:first-child {
  margin-left: 0;
}

#footer .menu-list .menu-item a {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

#footer .copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

main {
  width: 360px;
  margin: 0 auto;
  padding: 144px 0 400px;
}

main .logo {
  display: block;
  height: 64px;
  margin: 0 auto;
}

main .input-container {
  margin: 24px 0 0;
}

main .input-container label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 8px;
}

main .input-container input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  border: solid 1px #e4e4e4;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 16px 14px;
  font-size: 12px;
  line-height: 1;
}

main .input-container input:last-child {
  margin-bottom: 0;
}

main .input-container input::-webkit-input-placeholder {
  color: #d1d5d9;
}

main .input-container input:-ms-input-placeholder {
  color: #d1d5d9;
}

main .input-container input::-ms-input-placeholder {
  color: #d1d5d9;
}

main .input-container input::placeholder {
  color: #d1d5d9;
}

main .link-container {
  width: 100%;
  margin: 12px 0 32px;
}

main .link-container::after {
  content: "";
  display: block;
  clear: both;
}

main .link-container a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

main .link-container a:first-child {
  float: left;
}

main .link-container a:last-child {
  float: right;
}

main .button-container button {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 52px;
  margin-bottom: 8px;
  padding: 0;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
}

main .button-container button:last-child {
  margin-bottom: 0;
}

main .button-container button.btn-login {
  background-color: #d1d5d9;
  color: #fff;
  line-height: 52px;
}

main .button-container button.btn-login.active {
  background-color: #e02020;
}

main .button-container button.btn-apple img, main .button-container button.btn-kakao img {
  display: block;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=login.css.map */